html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to right,
        white 0%,
        white 65%,
        rgb(140, 163, 155) 35%,
        rgb(140, 163, 155) 100%
    );
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


h1 {
    margin-top: 15%;
}

h2 {
    font-size: 50px;
    font-weight: 30;
    width: 61vw;
    text-align: center;
    background-color: rgb(140, 163, 155);
    color: white;
}

h3 {
    text-align: center;
    font-size: 40px;
    width: 100%;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    
}

h5 {
    margin-left: 3%;
    font-size: 30px;
    font-weight: lighter;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    padding-right: 20px;
}


.fa-solid {
    margin-left: 32%;
    margin-top: 2cm;
}


a:hover {
    text-decoration: none;
    color: rgb(140, 163, 155) ;
}


/* NavBar Styling */
nav {
    background-color: rgb(255, 255, 255);
    width: 50vw;
    padding: 10px 30px;
}

nav ul{
    display: flex;
    font-size: 24px;
    margin-right: 4rem;
}

nav li{
    text-decoration: none;
    margin: 0px 10px;
}
/* Challenge 2: change the color of your name */
nav h1{
    font-size: 20px;
    margin: 0px;
}

/* Styling for the image/text/button */

/* Banner */
.banner {
    align-items: center;
    margin-bottom: 12%;
}

.banner h1{
    font-size: 5vw;
    font-weight: 200;
    font-family: sans-serif;
    letter-spacing: .02em;
    font-family: 'Playfair Display', serif;
    margin-left: 3%;
    
}


.banner img {
    position: fixed;
    overflow: hidden;
    object-fit: cover;
    margin-left: 74%;
    margin-top: 8rem;
}

#about{
    display: flex;
    flex-direction: column;
}


.banner .button {
    text-decoration: none;
    font-size: 24px;
    margin: 15px auto;
    margin-left: 28%;
    margin-top: 3cm;
    padding: 10px 20px;
    background-color: rgb(105, 105, 105);
    color: white;
    border: 2px;
    border-radius: 25px;
    transition: 0.3s;
}

.banner .button:hover {
    color: rgb(105, 105, 105);
    background-color: white;
}

/* Skills Section */
#skills {
    padding: 30px 30px;
    font-weight: 150px;
}

article {
    border: 1px solid rgb(0, 0, 0);
    padding: 24px 22px;
    margin: 16px 0px; 
    width: 58vw;
    font-weight: 200px;
    overflow: hidden;
}

p {
    margin-left: 1%;
}


.title {
    grid-column: 1 / span 2;
    letter-spacing: 2px;
}


/* References */

#references {
    grid-column: 1 / span 2;
    background-color: rgb(140, 163, 155);
    color: white;
    width: 61vw;
    margin-bottom: 10%;
}

#references li{
    padding-left: 8px;
}


/* Interests Section  */

#interests {
    padding: 30px 30px;
}

#interests h2 {
    margin: 24px 0px;
}

.card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 300px;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 16px;
    width: 61vw;

}
.card .info {
    margin-left: 10px;
    padding: 0px 20px;
}
.card .info  h3{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */
footer {
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(0, 0, 0);
    padding: 40px 30px;
    text-align: center;
}