body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 50px;
    font-weight: 30;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
    color: rgb(246, 141, 225);
}

section {
    padding: 0px 30px;
}

/* NavBar Styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 30px;
}

nav ul{
    font-size: 24px;
    margin-right: 4rem;
}

nav li{
    text-decoration: none;
    margin: 0px 10px;
}
/* Challenge 2: change the color of your name */
nav h1{
    font-size: 35px;
    color: rgb(140,200,140);
    margin: 0px;
}

/* Webpage Color */
/* * {
    background-color: rgb(233, 238, 255);
} */

/* Styling for the image/text/button */
img[alt*="giovanni"] {
    margin-left: 8%;
    margin-right: 2%;
    margin-bottom: 1%;
    
}

/* Banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    font-size: 70px;
    font-weight: 200;
    font-family: sans-serif;
    letter-spacing: .02em;
    text-align: center;
}

.banner img {
    overflow: hidden;
    object-fit: cover;
    margin: 0px;
    margin-top: 3rem;
}

.about{
    display: flex;
    flex-direction: column;
}

.banner button {
    width: 4cm;
    font-size: 24px;
    margin-left: 42%;
    background-color: rgb(255,255,255);
    color: rgb(140,200,140);
    border: 3px solid rgb(140,200,140);
    transition: 0.3s;
}

.banner button:hover {
    color: rgb(246, 141, 225);
    border: 3px solid rgb(246, 141, 225);
}

/* Skills Section */
.skills {
    background-color: rgb(240, 240, 240);
}
.articles {
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-gap: 20px;
}
article {
    border-radius: 8px;
    background-color: peachpuff;
}
article h3 {
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
}

article li {
    font-size: 30px;
    padding: 10px;
}

article ul {
    padding-left: 60px;
    padding-bottom: 10px;
    font-size: 20px;
}
/* references */
.ref {
    margin-left: 5%;
}
.ref h4{
    font-size: 20px;
    padding: 1px;
}

.ref h5{
    font-size: 15px;
    font-style: italic;
}

h1{
    margin-left: 3%;
}

    
.group {
    margin-left: 15%;
}

.football h3 {
    margin-left: 3%
}